services:
    web:
        build:
            dockerfile: nginx/Dockerfile
        ports: 
          - "80:80"
          - "443:443"
        restart: unless-stopped
        tty: true
        volumes: 
          - ./:/var/www/html
          - letsencrypt:/etc/letsencrypt
          - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
        networks:
          vlan:
            ipv4_address: 192.168.1.100
        depends_on:
          - app        
    app:
        build:
            dockerfile: Dockerfile
        volumes:
          - ./:/var/www/html
          - ./php/php.ini:/usr/local/etc/php/php.ini
        networks:
          vlan:
            ipv4_address: 192.168.1.101
        restart: unless-stopped
        tty: true
        depends_on:
          - db

    horizon:
        build:
            dockerfile: Dockerfile
        volumes:
          - ./:/var/www/html
          - ./php/php.ini:/usr/local/etc/php/php.ini
        networks:
          vlan:
            ipv4_address: 192.168.1.104
        restart: unless-stopped
        tty: true
        depends_on:
          - db
          - redis
        command: php artisan horizon
       
    db:
        image: mysql:8.0
        volumes: 
          - mysqldata:/var/lib/mysql
        ports:
          - "3308:3306"
        networks:
          vlan:
            ipv4_address: 192.168.1.102
        restart: unless-stopped
        command: --max_allowed_packet=325058560
        container_name: db
        environment:
            MYSQL_ROOT_PASSWORD: 12345678
            MYSQL_USER: user
            MYSQL_PASSWORD: password
            MYSQL_DATABASE: cbt
    
    phpmyadmin:
        image: phpmyadmin
        restart: always
        ports:
          - 5147:80
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: 12345678
            UPLOAD_LIMIT: 100000000
        depends_on:
          - db
        networks:
          vlan:
            ipv4_address: 192.168.1.103

    redis:
        image: redis:latest
        container_name: redis
        restart: always
        volumes:
          - redis_volume:/data
        ports:
          - 6379:6379
        networks:
          vlan:
            ipv4_address: 192.168.1.105

    redis_insight: 
        image: redislabs/redisinsight:latest
        container_name: redis_insight
        restart: always
        volumes:
          - redis_insight_volume:/db
        ports:
          - 8001:8001
        networks:
          vlan:
            ipv4_address: 192.168.1.106

volumes:
    mysqldata:
    letsencrypt:
    redis_insight_volume:
    redis_volume:

networks:
  vlan:
    external: true
    name: vlan


    